body{
    background-color: #4594e4;
}
.task1{
    
    display: flex;
    justify-content: center;
    padding: 160px;
}
table {
    border-collapse: collapse;

    width: 100%;
    
  }
  th, td {
    text-align: center;
    padding: 8px;
  }
th:nth-child(2n-2){
    background-color: #4ec4a2;
    color: white;
}
th:nth-child(2n-1){
    background-color: #2e4760;
    color: white;
}
tr:nth-child(odd){background-color: white}
tr:nth-child(even){background-color: #f2f2f2}
